vti_encoding:SR|utf8-nl
vti_author:SR|BOTBRAINXP\\BotBrain
vti_modifiedby:SR|BOTBRAINXP\\BotBrain
vti_timelastmodified:TW|15 Jan 2012 17:20:41 -0000
vti_timecreated:TR|15 Jan 2012 17:20:41 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{57DB8474-6B2C-4B44-8341-CB6F73FFA1F7}
vti_backlinkinfo:VX|gettingstarted.html actiontilesold.html conditionaltiles.html actiontiles.html looptiles.html looptilesold.html subroutinetilesold.html subroutinetiles.html
vti_nexttolasttimemodified:TW|15 Jan 2012 17:20:41 -0000
vti_cacheddtm:TX|15 Jan 2012 17:20:41 -0000
vti_filesize:IR|2213
vti_cachedlinkinfo:VX|S|images/graphpaper.gif
vti_cachedsvcrellinks:VX|NSUS|images/graphpaper.gif
