
body, table, p {
	font-family: Arial,Sans-Serif;
	font-size: 10pt;
	color: black;
}

td {
	background-color: transparent;
}

code {
	font-weight: bold;
}

body.plx {
	background-color: black;
	margin: 0,0,0,0;
	text-align: center;
	vertical-align: middle;
}

body.graph {
	background-image: url(images/graphpaper.gif);
}

body.toc {
	background-color: #F0F0FF
}

img.left {
	margin-right: 10;
	margin-bottom: 10;
	float: left;
}

.plx2 {
	font-size: 10pt;
	font-weight: bold;
	vertical-align: middle;
	color: #0475B5;
}

.toc1 {
	font-size: 14pt;
	font-weight: bold;
	vertical-align: baseline;
	color: #0475B5;
}	

.toc2 {
	font-size: 95%;
	font-weight: bold;
	vertical-align: baseline;
	color: red;
}	

.toc3 {
	font-size: 90%;
	font-weight: normal;
	vertical-align: baseline;
	margin-left: 10;
}	

.toc4 {
	font-size: 85%;
	font-weight: normal;
	font-style: italic;
	vertical-align: baseline;
	margin-left: 20;
}	

.doc1 {
	font-size: 24pt;
	font-weight: bold;
	vertical-align: baseline;
	text-align: right;
	color: #0475B5;
}	

.doc2 {
	font-size: 11pt;
	font-weight: bold;
	vertical-align: baseline;
	padding-top: 10;
	color: black;
}	

.txb {
	font-weight: bold;
	font-size: 10pt;
	vertical-align: baseline;
	color: black;
	font-family: Sans-Serif;
	text-align: left;
}

.txi {
	font-size: 10pt;
	vertical-align: baseline;
	color: black;
	font-style: italic;
	font-family: Sans-Serif;
	text-align: left;
}

.txbi {
	font-weight: bold;
	font-size: 10pt;
	vertical-align: baseline;
	color: black;
	font-style: italic;
	font-family: Sans-Serif;
	text-align: left;
}

.txc {
	font-size: 10pt;
	vertical-align: baseline;
	color: black;
	font-family: Monospace;
	text-align: left;
}

.gr {
	font-weight: bold;
	color: green;
}

.ye {
	font-weight: bold;
	color: #EECC00;
}

.or {
	font-weight: bold;
	color: #EE7700;
}

.rd {
	font-weight: bold;
	color: red;
}

.mg {
	font-weight: bold;
	color: #EE00EE;
}

.pu {
	font-weight: bold;
	color: purple;
}

.bu {
	font-weight: bold;
	color: blue;
}

.cy {
	font-weight: bold;
	color: #00AAAA;
}



	
